<div class="col-md-12">
    <p>{{meval2}}</p>
    
    
    <button class="btn btn-danger btn-xs" ng-click="removeCust(OrderId)" ng-show="meval2">Remove</button> 
    <div class="row">
        <div class="col-md-5 col-md-offset-7" id="custDiv">
                       
            
            <input id="searchCust" type="text" class="form-control" ng-model="searchCustomer" />           
            
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Contact Name</th>
                            <th>Company Name</th>
                            <th>ID</th>

                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr id="cust_{{cust.CustomerID}}" ng-repeat="cust in customers | filter:searchCustomer">
                            <td>{{cust.ContactName}}</td>
                            <td>{{cust.CompanyName}}</td>
                            <td>{{cust.CustomerID}}</td>
                            <td id="h"><button class="btn btn-primary btn-xs" ng-click="getcustid(cust.CustomerID); getcustName(cust.ContactName); removeBtn = !removeBtn" id="{{cust.CustomerID}}">Select</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="row" ng-show="OrderId">
        <div class="col-md-5 col-md-offset-7" id="">


            <input id="searchCust" type="text" class="form-control" ng-model="searchOrders" />

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            

                        </tr>
                    </thead>

                    <tbody>
                        <tr id="cust_{{cust.CustomerID}}" ng-repeat="ord in orderDetails | filter:searchCustomer">
                            <td>{{ord.ContactName}}</td>
                            <td>{{ord.CompanyName}}</td>
                            
                            <td id="h"><button class="btn btn-primary btn-xs" ng-click="getcustid(cust.CustomerID); getcustName(cust.ContactName); removeBtn = !removeBtn" id="{{cust.CustomerID}}">Select</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-md-8" id="prodDiv">
            <input type="text" class="form-control" ng-model="meval" />
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Product Name
                            </th>
                            <th>
                                Quantity per Unit
                            </th>
                            <th>
                                Unit Price
                            </th>
                            <th>
                                Unit in Stock
                            </th>
                            <th>
                                Unit in Order
                            </th>
                            <th>
                                Reorder Level
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="prod in products">
                            <td>
                                {{prod.ProductName}}
                            </td>
                            <td>
                                {{prod.QuantityPerUnit}}
                            </td>
                            <td>
                                {{prod.UnitPrice}}
                            </td>
                            <td>
                                {{prod.UnitInStock}}
                            </td>
                            <td>
                                {{prod.UnitInOrder}}
                            </td>
                            <td>
                                {{prod.ReorderLevel}}
                            </td>
                            <th>
                                <button ng-click="selectBuy(prod.ProductID)" class="btn btn-success btn-xs">Buy {{prod.ProductName}}</button>
                            </th>
                        </tr>
                    </tbody>
                </table>
                <div ng-show="prodName">                    
                    <input type="text" ng-model="prodName" class="form-control input-sm" disabled />
                    <hr />
                    <input type="text" ng-model="unitPrice" class="form-control input-sm" disabled />
                    <hr />
                    <input type="text" ng-model="quantity" class="form-control input-sm" placeholder="Quantity" />
                    <hr />
                    <input type="text" ng-model="discount" class="form-control input-sm" placeholder="Discount" />
                    <hr />
                    <input value="{{buyTotal()}}" type="text" class="form-control input-sm" placeholder="Total" />
                    <hr />
                    <button class="btn btn-default btn-xs" ng-click="buy()">Buy</button>
                </div>
            </div>
        </div>
    </div>
</div>
