@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-danger">Charlesville</h1>
    <p class="lead"><span class="text-center">Charlesville </span>eAccounting</p>
    <p><a href="~/Account/Login" class="btn btn-primary btn-large">Login &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 class="text-danger">Services</h2>
        <p>
            Charlesville offers numerous ICT services which includes Web development, Graphics design, Web Hosting, Networking, Office Setup,
            Security, Employment strategies, etc.
        </p>
        <p><a class="btn btn-danger" href="http://www.charlesville.com/Charlesville-Services-SoftDev.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="text-warning">Products</h2>
        <p>We have in stock, products that help enhance your day to day activities, secure your environmensts, homes, properties and offices, products to meet your ICT needs.
            All our products anre up to date.
        </p>
        <p><a class="btn btn-warning" href="http://www.charlesville.com/Charlesville-Products-CMS.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="text-info">Schoolville</h2>
        <p>Schoolville is our latest innovation. Its comes in two packs - product and service. Product is our complete school management system from Basic to Tetiary
            while Sercice is our ICT learning center which issues international certificates at the end of each program
        </p>
        <p><a class="btn btn-info" href="http://schoolville.com">Learn more &raquo;</a></p>
    </div>
</div>